[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
lxml = "*"
telethon = "*"
mockito = "*"
playsound = "==1.2.2"
requests = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
